<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <add name="PythonHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified" />
    </handlers>

    <httpPlatform 
        processPath="C:\work\myappli\aikouenkai_project\venv\Scripts\python.exe"
        arguments="-m waitress --port=%HTTP_PLATFORM_PORT% aikouenkai_project.wsgi:application"
        stdoutLogEnabled="true"
        stdoutLogFile=".\python.log"
        startupTimeLimit="60"
        processesPerApplication="1">
      
      <environmentVariables>
        <environmentVariable name="PYTHONPATH" value="C:\work\myappli\aikouenkai_project" />
      </environmentVariables>
    </httpPlatform>
  </system.webServer>
</configuration>